*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	color: #FFFFFF;
	font-size: 15px;
	text-decoration: none;
	margin-left: 10px;
}

header {
	background: #0020F4;

}

.logo {
	margin-left: 5px;
	margin-top: 5px;

}

.contact {
	background: #FFFFFF;
	color: black;
}


.about {
 	width: 800px;
 	margin: 0 auto;

}

#photo {
	width: 100%;
	margin-bottom: 30px;
	margin-top: 0px;

}

div > img {
	margin-top: 60px;
	margin-bottom: 60px;
	border-radius: 15px;
	width: 100px;

}

div > p {
	color: #171717;
 	padding: 20px;
}

.txt3 {
	padding-bottom: 18px;
}

button {
	color: white;
	background-color: blue;
	border-radius: 28px;
	width: 341px;
	height: 30px;
	margin-left: 250px;
	margin-bottom: 60px;
}

footer nav{
	background-color: #0A22F4;
	width: 1345px;
	height: 200px;
}

#y {
	margin-left: 90px;
}

#x {
	padding-left: 700px;
	padding-bottom: 80px;
}