*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	color: #FFFFFF;
	font-size: 15px;
	text-decoration: none;
	margin-left: 10px;
}

header {
	background: #0020F4;

}

.logo {
	margin-left: 5px;
	margin-top: 5px;

}

.contact {
	background: #FFFFFF;
	color: black;
}


.about {
 	width: 750px;
 	margin: 0 auto;

}

#photo {
	width: 100%;
	padding-bottom: 30px;

}



